@import "tailwindcss";


@keyframes moveLeftRightCenter {
    0% {
      transform: translateX(-90%);
      opacity: 0;
    }
    30% {
      transform: translateX(90%);
      opacity: 1;
    }
    60% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .header-animation {
    display: inline-block;
    animation: moveLeftRightCenter 5.5s ease-in-out forwards;
  }